[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
sample = "python src/sample.py"

[packages]
numpy = "*"
pandas = "*"
openpyxl = "*"
xlrd = "*"
requests = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.12"
